# Node
node_modules/
npm-debug.log
yarn-error.log
.expo/

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
ios/Pods/
ios/build/

# Android/IntelliJ
android/build/
android/app/build/
android/app/src/main/assets/
.idea/
.gradle/
local.properties
*.apk
*.ap_
*.aab
*.iml
*.keystore

# Metro
.metro-cache/

# Misc
.DS_Store
*.orig
vendor/
Gemfile.lock
package-lock.json.orig
Podfile.lock
/ios/Pods/
/ios/build/
/android/app/build/
/android/build/
/android/.gradle/
/android/app/.cxx/
/android/app/build/
.expo/
dist/
web-build/
package-lock.json
yarn.lock
